<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <Layout>
                <ClassName>ukma.edu.ua.HospitalApp.MyLayout</ClassName>
            </Layout>
        </Console>

        <File name="file" fileName="file.log">
            <Layout>
                <ClassName>ukma.edu.ua.HospitalApp.MyLayout</ClassName>
            </Layout>
            <FileAppender/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
