<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="login-field">
    <div class="login-title">
        <h1 th:text="${id}">Привіт, світ!</h1>
    </div>
</div>
<span class="square square-tl"></span>
<span class="square square-tr"></span>
<span class="square square-bl"></span>
<span class="square square-br"></span>
<span class="star star1"></span>
<span class="star star2"></span>
</body>
</html>
